@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.main {
            background-image: url(https://prium.github.io/Baikal-v2/v3.0.0/assets/img/contact.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: 100%;
            position: absolute;
            z-index: -1;
            height: 500px;
        }

        .content a {
            text-decoration: none;
            color: white;
        }

        .title {
            padding-right: 100px;
            font-family: "Playfair Display", serif;
            font-weight: 500;
            font-size: 44px;
            line-height: 0.7;
        }

        .fun {
            font-family: "Mulish", sans-serif;
            letter-spacing: 6px;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 10px;
        }

        .main1 h1 {
            padding-top: 200px;
            padding-bottom: 250px;
            display: block;
            margin: auto;
            font-size: 60px;
            color: white;
            font-weight: 700;
        }
.main2 ul{
    list-style-type: none;
}
.main2 li>a{
    color: gray;
    text-decoration: none;
        font-family: "Mulish", sans-serif;
        font-weight: 700;
        font-size: 13px;
    letter-spacing: 2px;
}
.main2 .head{
    font-size: 25px;
    color: #36b3a8;
    font-family: "Crimson Text", serif;
}
.a{
    color: #36b3a8;
    text-decoration: none;
    font-size: 20px;
    font-family: "Crimson Text", serif;
}
.a:hover{
    color: #36b3a8;
    text-decoration: underline;
}
.navbar-nav .nav-link{
  color: white;
  margin-left: 20px;
}

.navbar-nav .nav-link:hover{
  color: #ccc;
}

